<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RapGPT</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <div class="top">
          <button id="recordButton">Start Recording</button>
          <p id="status">Not Recording</p>
      
          <!-- Link to the external JavaScript file -->
          <script src="{{ url_for('static', filename='index.js') }}"></script>
        </div>
        <div class="middle">
            <input type="checkbox">Rap</input>
            <input type="checkbox">Beat</input>
            <input type="checkbox">Clone Voice</input>
        </div>
        <div class="bottom">
            <audio controls>
                <source src="/src/Resources/beat1o.ogg" type="audio/ogg">
                <source src="/src/Resources/beat1.mp3" type="audio/mp3">
            </audio>
        </div>
    </main>
    <script src="index.js"></script>
  </body>
</html>