<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RapGPT</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="icon" href="./favicon.ico" type="image/x-icon">
</head>
<body>
  <main class="main-content">
    <h1 class="hallo">RapGPT</h1>
    
    <div class="top">
      <img src="{{ url_for('static', filename='recordicon.png') }}" id="recordButton" class="record-icon">
      <p id="status" class="status-text">Not Recording</p>
    </div>
    
    <div class="middle">
      <label for="beatcb" class="checkbox-label">
        <input type="checkbox" id="beatcb"> Beat
      </label>
      
      <label for="clonecb" class="checkbox-label">
        <input type="checkbox" id="clonecb"> Clone
      </label>
    </div>
    
    <div class="bottom">
      <audio controls id="audioControls">
        <source src="{{ url_for('static', filename='uploads/merged_audio.mp3') }}" type="audio/mp3">
       
      </audio>
    </div>
  </main>
  
  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
