/* Reset some default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

html {
    background: rgb(255,255,255);
    background: linear-gradient(38deg, rgba(255,255,255,1) 22%, rgba(216,191,236,1) 62%, rgba(255,182,182,1) 100%);
}

body {
    background-color: #ffffff00;
}

.main-content {
    text-align: center;
    width: 80%;
    max-width: 800px;
    background-color: #ffffff00;
}

/* Header styles */
.hallo {
    font-size: 4rem;
    color: #333;
    margin-bottom: 50px;
}

/* Top section styles */
.top {
    margin-bottom: 0px;
}

.record-icon {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    display: block;


}

.status-text {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
}

/* Middle section styles */
.middle {
    margin-bottom: 30px;
}

.checkbox-label {
    font-size: 1rem;
    color: #333;
    display: block;
    margin: 10px auto;
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/* Bottom section styles */
.bottom {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

audio {
    width: 500px;
    align-self: center;
    margin: 0 auto;
}

.record-btn {
    background-color: #fcfcfc7e;
    color: #6e6e6e;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    /* border: 0.5rem solid; */
    border-radius: 20px;
    border: 0.3rem solid;
    border-color: white;
    transition: background-color 0.2s, box-shadow 0.4s;
}

.record-btn:hover {
    background-color: #fcfcfcd5;
    box-shadow: #333 0px 0px 10px;
}

/* For responsive design */
@media (max-width: 600px) {
    .hallo {
        font-size: 2rem;
    }

    .record-icon {
        width: 80px;
    }

    .checkbox-label {
        font-size: 0.9rem;
    }

  
}

